.header 
    background: $color-green
    padding-top: 64px
    padding-bottom: 64px
    position: fixed
    width: 100% 
    top: 0
    left: 0
    transition: .3s 
    z-index: 99
    .home & 
        padding-bottom: 0
    &.hide 
        padding-top: 28px
        padding-bottom: 28px
        .menu li,
        .header__button
            +max-screen(1440px)
                font-size: 18px
            +max-screen(1280px)
                font-size: 16px
        .header__logo 
            img
                +max-screen(1440px)
                    max-height: 50px
                +max-screen(1280px) 
                    max-height: 46px
    +max-screen(1440px)
        &.hide 
            padding-top: 18px
            padding-bottom: 18px
    +max-screen(1280px)
        padding-top: 48px
        padding-bottom: 48px
        &.hide 
            padding-top: 10px
            padding-bottom: 10px
    +max-screen($breakpoint-lg)
        padding-top: 36px
        padding-bottom: 36px
    +max-screen($breakpoint-md)
        padding-top: 24px
        padding-bottom: 24px
    .container
        position: relative
        max-width: 1632px
        +max-screen(1920px)
            max-width: 1768.5px
            margin-right: 0
    &__burger
        display: none
        +max-screen($breakpoint-lg)
            display: block
            width: 24px
            height: 18px
            position: relative
            transform: rotate(0deg)
            transition: .5s ease-in-out
            cursor: pointer
            z-index: 101
            span 
                display: block
                position: absolute
                height: 2px
                width: 100%
                background: #0C0C0C
                opacity: 1
                left: 0
                transform: rotate(0deg)
                transition: .25s ease-in-out
                &:nth-child(1)
                    top: 0
                &:nth-child(2)
                    top: 8px
                &:nth-child(3)
                    top: 16px
    &__logo 
        img 
            max-height: 56px 
            transition: .3s 
            +max-screen($breakpoint-lg)
                max-height: 46px
            +max-screen($breakpoint-md)
                max-height: 40px 
        h1 
            font-weight: 300
            display: block
            font-size: 30px
            line-height: 0.8
            display: flex 
            flex-direction: column
            +max-screen($breakpoint-lg)
                font-size: 24px 
            +max-screen($breakpoint-md)
                font-size: 21px
            span 
                white-space: nowrap 
            .logo-i-letter 
                font-size: 26px
                line-height: 10px
                font-weight: 200
                transform: scaleY(1.8)
                display: inline-block
                transform-origin: bottom
                padding-bottom: 3px
                margin: 0 -0.1em
                +max-screen($breakpoint-lg) 
                    font-size: 18px
                    padding-bottom: 1px
                +max-screen($breakpoint-md)
                    font-size: 16px
            .logo-quest-letter 
                display: inline-block
                transform: scaleY(1.25)
                transform-origin: bottom
    &__content 
        display: flex 
        +max-screen($breakpoint-lg)
            justify-content: space-between
            align-items: center
    &__menu 
        display: flex 
        align-items: center
        margin-left: auto
        align-items: center
        transition: .3s
        justify-content: flex-end
        +max-screen($breakpoint-lg)
            margin-right: 0
        +max-screen($breakpoint-lg)
            position: fixed
            width: 100%
            height: 100%
            left: 150%
            top: 0
            background: $color-green
            transition: .3s
            align-items: center
            z-index: 100
        .menu-header-menu-container 
            padding: 16px 0
            margin-right: 64px
            +max-screen(1200px)
                margin-right: 32px
            +max-screen($breakpoint-lg)
                margin-right: 0
        &Wrapper 
            margin-left: auto
            max-height: 56px
        .menu 
            display: flex 
            margin: 0 -20px
            li 
                margin: 0 20px 
                position: relative
                margin-bottom: -20px
                padding-bottom: 20px
                +max-screen(1280px)
                    font-size: 18px
                +max-screen($breakpoint-md)
                    font-size: 20px
                & > a,
                & > .menu-item__parent a 
                    position: relative
                    transition: .3s 
                    &::after 
                        content: ""
                        width: 100%
                        height: 1px 
                        background: #0C0C0C
                        position: absolute
                        left: 0
                        bottom: -8px 
                        transform: scaleX(0)
                        transform-origin: left
                        transition: .3s
                        +max-screen($breakpoint-lg)
                            bottom: -2px
                    &:hover::after 
                        transform: scaleX(1)
                    &.current-menu-item::after 
                        transform: scaleX(1)
                .sub-menu 
                    position: absolute
                    left: 50%
                    top: 100%
                    min-width: 100%
                    transform: translateX(-50%)
                    background-color: #fff
                    text-align: center
                    padding: 12px 0
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05)
                    display: none 
                    +max-screen($breakpoint-lg)
                        z-index: 1
                    li 
                        padding: 12px 0
                        margin-bottom: 0
                        a 
                            display: inline-block
                            &::after 
                                bottom: -4px 
    &__button 
        padding: 16px 24px
        border-radius: 15px
        transition: .3s
        position: relative
        margin-right: -64px
        +max-screen(1280px)
            font-size: 18px
        +max-screen(1200px) 
            margin-right: -32px
        +max-screen($breakpoint-lg)
            padding: 12.205px 18px
            margin-right: 32px
            display: none
        &.tablet 
            display: none
            +max-screen($breakpoint-lg)
                display: block
            +max-screen($breakpoint-md)
                display: none
        &::before 
            content: ""
            width: 16px
            height: 16px
            left: -4px
            top: 50%
            position: absolute
            transform: translateY(-50%)
            background: #fff
            border-radius: 50%
            opacity: 0.8
            transition: .3s
            z-index: -1
        &:hover:before 
            width: 100%
            height: 100% 
            opacity: 1 
            border-radius: 15px
    &.menu-open
        .header__burger
            span:nth-child(1) 
                top: 8px
                transform: rotate(135deg)
            span:nth-child(2) 
                opacity: 0
                left: -24px
            span:nth-child(3) 
                top: 8px
                transform: rotate(-135deg)
        .header__menu 
            +max-screen($breakpoint-lg)
                left: 0
                justify-content: center
                .menu 
                    flex-direction: column
                    align-items: center
                    li 
                        margin-bottom: 20px
                        &::after 
                            bottom: -4px
body
    padding-top: 184px
    +max-screen($breakpoint-lg)
        padding-top: 124px
    +max-screen($breakpoint-md)
        padding-top: 88px
    &.logged-in 
        .header 
            top: 32px
            +max-screen(782px)
                top: 46px
