.fpHero
    background: #d3e3d7
    &__image 
        padding-right: 5px 
        position: relative
        transform: translateY(100px) rotate(-8deg)
        +max-screen($breakpoint-lg)
            text-align: center
            transform: none
        +max-screen(560px)
            text-align: right
        .hidden-img
            opacity: 0
            +max-screen($breakpoint-lg)
                display: none
        .parallax-img
            position: absolute
            left: 0
            top: 0
            +max-screen(1200px)
                left: 30px 
            +max-screen($breakpoint-lg)
                position: static
                transform: rotate(-8deg) !important
        img 
            margin-left: -28px
            width: calc( 100% + 28px )
            margin-bottom: -20px
            +max-screen($breakpoint-lg)
                max-width: 405px
                margin: auto
                margin-bottom: 56px
            +max-screen($breakpoint-md)
                max-width: 50%
                margin-bottom: 32px
            +max-screen(560px)
                max-width: 54%
                margin-bottom: -12%
                margin-right: 3%
                width: 100%
                margin-left: 0
    &__content 
        padding-left: 75px
        padding-top: 48px
        padding-bottom: 64px
        +max-screen(1650px)
            padding-top: 0
            padding-bottom: 48px
        +max-screen($breakpoint-lg)

        +max-screen($breakpoint-md)
            padding-left: 10px
            padding-bottom: 80px
            display: flex 
            flex-direction: column
            align-items: flex-start
        &Wrapper 
            align-items: center
    &__title 
        line-height: 1
        margin-bottom: 64px
        font-weight: 400
        margin-right: -30px
        +max-screen(1200px)
            margin-bottom: 56px
        +max-screen($breakpoint-lg)
            margin-bottom: 48px
        +max-screen($breakpoint-md)
            margin-bottom: 32px
            margin-right: 0
            max-width: 100%
        +max-screen(560px)
            max-width: 335px
    &__text 
        line-height: 1.6
        max-width: 470px
        +max-screen($breakpoint-lg)
            font-size: 20px
        +max-screen($breakpoint-md)
            font-size: 20px
    &__link 
        margin-top: 96px
        +max-screen(1200px)
            margin-top: 72px
        +max-screen($breakpoint-lg)
            margin-top: 56px
            a 
                font-size: 20px
        +max-screen($breakpoint-md)
            display: none
    &__mobileLink 
        display: none
        +max-screen($breakpoint-md)
            display: block
            margin-top: 40px
            padding-top: 14px
            padding-bottom: 14px
            margin-right: 15px
            border-bottom: 2px solid #fff
            a 
                font-size: 18px
                line-height: 1.5
                display: block
                padding-right: 64px
                &::after 
                    right: 0
.favorities
    padding-top: 120px
    overflow: hidden
    padding-bottom: 212px
    background: #fff
    +max-screen(1200px)
        padding-top: 100px
        padding-bottom: 122px
    +max-screen($breakpoint-lg)
        padding-top: 92px
        padding-bottom: 102px
    +max-screen($breakpoint-md)
        padding-top: 80px
        padding-bottom: 80px
    &__content 
        max-width: 785px 
        +max-screen($breakpoint-lg)
            max-width: 85%
        +max-screen($breakpoint-md)
            max-width: 100%
            display: flex 
            flex-direction: column
            align-items: flex-start
    &__slider 
        margin-top: 80px
        max-width: 1210px
        padding-left: 50px
        margin-left: auto
        margin-right: calc( (-100vw + 1532px) / 2)
        max-width: calc( 1210px + (100vw - 1532px) / 2)
        display: flex 
        flex-wrap: nowrap 
        opacity: 0
        transition: .5s
        &.active 
            display: block
        +max-screen(1532px)
            max-width: 100%
            margin-right: 0
        +max-screen(1200px)
            margin-left: 0
            margin-right: 0
            max-width: 100%
        +max-screen($breakpoint-lg)
            max-width: calc( 100% + 130px )
            padding-left: 0
            margin-left: -35px
            margin-right: -35px
        +max-screen($breakpoint-md)
            max-width: 100% 
            margin-left: 0
            margin-right: 0
        .slick-list
            overflow: visible
            padding-top: 24px
            padding-bottom: 24px
            +max-screen($breakpoint-md)
                margin-right: -30px
                margin-left: -20px
        .slick-slide 
            transform: rotate(-8deg)
            transition: .3s
            margin: 0 12px
            +max-screen($breakpoint-lg)
                transform: rotate(-6deg)
            +max-screen($breakpoint-md)
                transform: rotate(-3deg)
                margin: 0 16px
            &.slick-active 
                opacity: 1
        .slick-active + .slick-slide 
            opacity: 1
        &Item 
            &__head
                width: 100%
                display: flex !important
                align-items: stretch
            &__body 
                display: none 
                +max-screen($breakpoint-md)
                    display: block 
                    max-width: 90%
            &__text 
                margin-top: 48px
                line-height: 1.6
                +max-screen(1200px)
                    margin-top: 32px
                +max-screen($breakpoint-md)
                    margin-top: 24px
            &__button 
                margin-top: 36px
                position: relative
                padding: 4px 24px 
                line-height: 1.6
                display: inline-block
                cursor: pointer
                &::before 
                    content: ""
                    width: 16px
                    height: 16px 
                    background: #D3E3D7
                    border-radius: 50%
                    left: 0 
                    top: 50% 
                    transform: translateY(-50%)
                    position: absolute
                    transition: .3s 
                    z-index: -1
                &:hover::before 
                    width: 100%
                    height: 100%
                    border-radius: 15px
            &__content 
                writing-mode: vertical-rl
                transform: rotate(180deg)
                height: 100%
                display: flex
                justify-content: space-between
                padding-left: 20px
                align-items: flex-end
                font-weight: 300
            &__title 
                height: 420px 
                font-weight: 300
                +max-screen($breakpoint-md)
                    height: 305px
                +max-screen(1200px)
                    +min-screen(993px)
                        font-size: 36px
            &__image 
                width: 55%
                max-width: 400px
                +max-screen(1440px)
                    width: 60%
                +max-screen($breakpoint-md)
                    width: 100%
                +max-screen($breakpoint-md)
                    .favorities__sliderItem__text,
                    .favorities__sliderItem__button 
                        display: none
                img 
                    width: 100%
                    object-fit: cover
                    max-height: 565px
    &__title 
        line-height: 1.2
        margin-bottom: 40px
        +max-screen($breakpoint-lg)
            margin-bottom: 36px
        +max-screen($breakpoint-md)
            margin-bottom: 24px
    &__text 
        font-size: 24px
        line-height: 1.6
        +max-screen(1200px)
            font-size: 22px
        +max-screen($breakpoint-md)
            font-size: 20px
    &__link 
        margin-top: 120px
        +max-screen(1200px)
            margin-top: 82px
        +max-screen($breakpoint-lg)
            margin-top: 64px
        +max-screen($breakpoint-md)
            margin-top: 64px
            padding: 12.5px 0
            border-bottom: 2px solid #D3E3D7
            a 
                padding-right: 64px
                font-size: 20px
                line-height: 1.5
                display: block
                &::after 
                    right: 0
    &__arrow 
        cursor: pointer
        width: 84px
        height: 64px
        margin: 8px 20px
        background-size: contain
        background-repeat: no-repeat
        background-position: 50%
        background-image: url('../assets/images/slick_next.svg')
        +max-screen(1200px)
            width: 64px
            height: 60px
        +max-screen($breakpoint-lg)
            width: 56px
            height: 52px
        +max-screen($breakpoint-md)
            width: 48px
            height: 42px
    &__arrows 
        display: flex 
        justify-content: flex-end
        margin-top: 72px
        +max-screen(1200px)
            margin-top: 56px
        +max-screen($breakpoint-lg)
            margin-top: 48px
        +max-screen($breakpoint-md)
            margin-top: 36px
    &__leftArrow
        transform: rotate(180deg)
    &__rightArrow
        transform: translateY(-1px)
.description 
    background: #D3E3D7
    padding-top: 220px
    display: block
    padding-bottom: 120px
    +max-screen(1200px)
        padding-top: 160px
        padding-bottom: 100px
    +max-screen($breakpoint-lg)
        padding-bottom: 92px
        padding-top: 136px
    +max-screen($breakpoint-md)
        padding-top: 112px
        padding-bottom: 80px
        overflow: hidden
    &__title 
        max-width: 850px 
        margin: auto
        margin-bottom: 72px
        +max-screen(1200px)
            margin-bottom: 64px
        +max-screen($breakpoint-lg)
            margin-bottom: 56px
            text-align: center
        +max-screen($breakpoint-md)
            margin-bottom: 42px
    &__content
        display: flex 
        align-items: center
    &__text 
        font-size: 24px
        line-height: 1.6
        padding-right: 77px
        padding-top: 23px
        padding-bottom: 23px
        p
            margin-bottom: 24px
            &:last-child
                margin-bottom: 0
        +max-screen(1200px)
            font-size: 22px
            padding: 0 10px 
        +max-screen($breakpoint-lg)
            font-size: 20px
            text-align: center
        +max-screen($breakpoint-md)
            margin-bottom: 32px
        &:last-child 
            margin-bottom: 0
    &__image 
        padding-left: 46px
        padding-right: 40px
        position: relative
        transform: translateY(-100px)
        +max-screen($breakpoint-lg)
            transform: none
        +max-screen(1200px)
            padding-left: 16px
            padding-right: 10px
        +max-screen($breakpoint-lg)
            padding: 0 10px 
        img
            width: 100%
            transform: rotate(12deg)
            position: absolute
            left: 46px
            max-width: calc( 100% - 86px )
            top: 0
            +max-screen($breakpoint-lg)
                transform: none
                max-width: 80%
                margin: auto 
                display: block 
                position: static
                transform: none !important
            +max-screen($breakpoint-md)
                max-width: 100%
                
.features
    background: #D3E3D7
    padding-top: 120px
    padding-bottom: 120px
    +max-screen(1200px)
        padding-top: 100px
        padding-bottom: 100px
    +max-screen($breakpoint-lg)
        padding-top: 92px
        padding-bottom: 92px
    +max-screen($breakpoint-md)
        padding-top: 80px
        padding-bottom: 80px
    &__title
        +max-screen($breakpoint-lg)
            text-align: center
    &__cards 
        margin: 0 -16px 
        margin-top: 120px
        +max-screen(1200px)
            margin-top: 72px
        +max-screen($breakpoint-lg)
            margin-bottom: -32px
            margin-top: 56px
            justify-content: center
        +max-screen($breakpoint-md)
            margin-top: 48px
            margin-bottom: -24px
        &Item 
            padding-left: 16px
            padding-right: 16px
            text-align: center
            +max-screen($breakpoint-lg)
                margin-bottom: 32px
            +max-screen($breakpoint-md)
                margin-bottom: 24px
            &__number 
                margin-bottom: 24px
            &__title
                font-size: 48px
                line-height: 1.2
                +max-screen(1200px)
                    font-size: 36px
                +max-screen($breakpoint-lg)
                    font-size: 32px
                +max-screen($breakpoint-md)
                    font-size: 28px 
            &__text 
                margin-top: 24px
                line-height: 1.6
                +max-screen($breakpoint-lg)
                    font-size: 18px
                +max-screen($breakpoint-md)
                    font-size: 16px
.cta 
    padding-top: 44px
    padding-bottom: 44px
    background: #fff
    &__image 
        width: 35.66%
        text-align: center
        +max-screen($breakpoint-lg)
            width: 26%
        +max-screen($breakpoint-md)
            width: 100%
        img 
            +max-screen($breakpoint-lg)
                width: 100%
            +max-screen($breakpoint-md)
                width: 50%
                max-width: 160px 
        img.img-animation
            transition: .6s 
            transform: rotate( 120deg )
            
    &__content 
        width: 64.34%
        padding-left: 32px
        display: flex 
        flex-direction: column 
        align-items: flex-start
        +max-screen($breakpoint-lg)
            width: 74%
        +max-screen($breakpoint-md)
            width: 100%
            align-items: center
            margin-top: 32px
            padding-left: 0
        &Wrapper 
            display: flex 
            align-items: center
            +max-screen($breakpoint-md)
                flex-direction: column
    &__title 
        margin-bottom: 40px
        +max-screen($breakpoint-lg)
            margin-bottom: 24px
        +max-screen($breakpoint-md)
            text-align: center
    &__text 
        line-height: 1.6
        +max-screen($breakpoint-md)
            font-size: 16px
            text-align: center
    &__button
        margin-top: 40px
        padding: 6px 28px 
        position: relative
        transition: .3s 
        opacity: 0.7
        background: #d3e3d7
        border-radius: 15px
        +max-screen($breakpoint-lg)
            margin-top: 24px
        +max-screen($breakpoint-md)
            margin: auto 
            margin-top: 12px
        a 
            line-height: 1.6
            display: inline-block
            z-index: 1
            position: relative
            font-size: 22px
            +max-screen($breakpoint-lg)
                font-size: 20px
            +max-screen($breakpoint-md)
                font-size: 18px
        &:hover 
            opacity: 1
.testimonial
    padding-top: 120px
    padding-bottom: 120px
    background: #D3E3D7
    +max-screen(1200px)
        padding-top: 100px
        padding-bottom: 100px
    +max-screen($breakpoint-lg)
        padding-top: 92px
        padding-bottom: 92px
    +max-screen($breakpoint-md)
        padding-top: 80px
        padding-bottom: 80px
    &__content 
        max-width: 846px
        margin: auto
        padding-top: 75px
        position: relative 
        padding-bottom: 11px
        +max-screen(1200px)
            padding-top: 64px
        +max-screen($breakpoint-md)
            padding-top: 52px
            padding-bottom: 7px
        &::before,
        &::after 
            content: ""
            width: 49px 
            height: 43px 
            position: absolute
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            +max-screen(1200px)
                width: 45px
                height: 40px
            +max-screen($breakpoint-md)
                width: 38px 
                height: 32px 
        &::before
            left: 0
            top: 0
            background-image: url('../assets/images/testimonial_before.svg')
        &::after 
            right: 0
            bottom: 0
            background-image: url('../assets/images/testimonial_after.svg')
    &__text 
        margin-bottom: 32px
        +max-screen($breakpoint-md)
            margin-bottom: 18px
    &__author 
        line-height: 1.6
    .slick-slide
        margin: 0 12px 
    .slick-list
        margin: 0 -12px
    
.imagesSlider
    padding-top: 120px
    background: #D3E3D7
    padding-bottom: 120px
    overflow: hidden
    +max-screen(1200px)
        padding-top: 100px
        padding-bottom: 100px
    +max-screen($breakpoint-lg)
        padding-top: 92px
        padding-bottom: 92px
    +max-screen($breakpoint-md)
        padding-top: 80px
        padding-bottom: 80px
    .sbi_photo 
        position: relative
        +max-screen($breakpoint-lg)
            transform: none !important
        img 
            position: absolute
            left: 0
            display: block !important
            top: 0
            height: 100% !important
            object-fit: cover
            +max-screen($breakpoint-lg)
                position: static
                
    &__title 
        text-align: right
        +max-screen(1200px)
            text-align: center
        +max-screen($breakpoint-lg)
            text-align: left
        +max-screen($breakpoint-md)
            text-align: center
    &__list 
        margin-top: 96px
        padding-left: 50px
        margin-left: auto
        margin-right: calc( (-100vw + 1532px) / 2)
        max-width: calc( 1210px + (100vw - 1532px) / 2)
        +max-screen(1200px)
            margin-top: 72px
            margin-left: 0
            margin-right: 0
            max-width: 100%
            padding-left: 0
        +max-screen($breakpoint-lg)
            max-width: 100%
            padding-left: 0
            margin-right: 0
            margin-top: 64px
        +max-screen($breakpoint-md)
            margin-top: 42px
        .slick-list
            overflow: visible
            padding-top: 24px
            padding-bottom: 24px
            +max-screen($breakpoint-lg)
                padding: 0
                margin: 0 -12px 
            
        &Item 
            position: relative
            &::after 
                content: ""
                display: inline-block
                padding-bottom: 100%
            img 
                width: 100%
                position: absolute
                top: 0 
                left: 0
                height: 100%
    &__arrows 
        display: flex 
        margin: 0 -20px
    &__arrow
        cursor: pointer
        width: 84px
        height: 64px 
        margin: 8px 20px
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        background-image: url('../assets/images/slick_next.svg')
        +max-screen(1200px)
            width: 64px
            height: 60px
        +max-screen($breakpoint-lg)
            width: 56px
            height: 52px
        +max-screen($breakpoint-md)
            width: 48px
            height: 42px
        &Before 
            transform: rotate( 180deg )
        &After 
            transform: translateY(-1px )
    &__numbers 
        margin-left: 131px
        +max-screen($breakpoint-lg)
            margin-left: 0
    &__bottom 
        display: flex
        align-items: center
        justify-content: flex-end
        margin-top: 96px
        +max-screen($breakpoint-lg)
            justify-content: space-between
            margin-top: 56px
        +max-screen($breakpoint-md)
            margin-top: 36px
    #sb_instagram 
        margin-top: 96px
        padding-left: 50px
        margin-left: auto
        margin-right: calc((-100vw + 1532px) / 2)
        max-width: calc(1210px + (100vw - 1532px) / 2)
        +max-screen(1200px)
            margin-top: 72px
            margin-left: 0
            margin-right: 0
            max-width: 100%
            padding-left: 0
        +max-screen($breakpoint-lg)
            max-width: 100%
            padding-left: 0
            margin-right: 0
            margin-top: 64px
        +max-screen($breakpoint-md)
            margin-top: 42px
        .sb_instagram_header
            display: none
        #sbi_load 
            display: none
        .slick-slide 
            -webkit-transform: rotate(-8deg)
            transform: rotate(-8deg)
            -webkit-transition: .3s
            transition: .3s
            opacity: 0
            margin: 0 12px
            +max-screen($breakpoint-lg)
                transform: none
            &.slick-active 
                opacity: 1
        .slick-list 
            overflow: visible
        #sbi_images 
            padding: 0 !important
            +max-screen($breakpoint-lg)
                margin: 0 -12px 
                max-width: calc( 100% + 24px )
                width: calc( 100% + 24px )
