.favoritiesBlock
    overflow: hidden
    padding-top: 120px
    padding-bottom: 120px
    background: #fff
    &__list 
        transform: translateX(150px) rotate(-6deg)
        margin: 0 -75px
        padding-top: 120px
        display: flex 
        flex-wrap: wrap
        &Item 
            max-width: 36.64%
            margin: 0 75px
            margin-bottom: 52px
            &__content 
                writing-mode: vertical-rl
                transform: rotate(180deg)
                display: -webkit-box
                display: -ms-flexbox
                display: flex
                justify-content: space-between
                padding-left: 20px
                align-items: flex-end
                height: 100%
            &__image 
                max-width: 67.63%
                margin-bottom: 48px
                img 
                    width: 100%
            &__head 
                display: flex 
                position: relative
            &__body 
                max-width: 67.63%
            &__sideContent 
                position: absolute
                top: 0
                bottom: 48px
                right: 100%
                width: fit-content
            &__text 
                margin-bottom: 36px
                line-height: 1.6
            &__button 
                margin-top: auto