.contentBlock
    padding-top: 120px
    padding-bottom: 120px
    background: #fff
    +max-screen(1200px)
        padding-top: 100px
        padding-bottom: 100px
    +max-screen($breakpoint-lg)
        padding-top: 92px
        padding-bottom: 92px
    +max-screen($breakpoint-md)
        padding-top: 80px
        padding-bottom: 80px
    &__title 
        max-width: 846px 
        margin: auto
        margin-bottom: 72px
        +max-screen(1200px)
            margin-bottom: 56px
        +max-screen($breakpoint-lg)
            text-align: center
            margin-bottom: 42px
        +max-screen($breakpoint-md)
            margin-bottom: 32px
            text-align: center
    &__text 
        padding-right: 77px
        // font-size: 24px
        // line-height: 1.6
        padding-top: 22px
        padding-bottom: 22px
        +max-screen($breakpoint-xxl)
            // font-size: 20px
        +max-screen($breakpoint-lg)
            // font-size: 18px
            text-align: center
            padding: 0 10px 
        +max-screen($breakpoint-md)
            text-align: center
        p 
            margin-bottom: 24px
            &:last-child 
                margin-bottom: 0
        &Wrapper 
            align-items: center
            justify-content: space-between
    &__image 
        position: relative
        transform: translate(-20px, 0) rotate(12deg)
        +max-screen($breakpoint-lg)
            max-width: 75%
            margin: auto
            transform: none
            transform: translate(0, 0) rotate(12deg)
            transform: none 
            margin-top: 32px
        img 
            margin-left: -58px
            position: absolute
            right: 10px
            top: 0
            object-fit: cover
            +max-screen(1200px)
                margin-left: -90px
            +max-screen($breakpoint-lg)
                margin-left: 0
                margin-top: 36px
                position: static
            +max-screen($breakpoint-md)
                margin-top: 0