.hero 
    padding-top: 120px
    padding-bottom: 120px
    background: #d3e3d7
    +max-screen(1200px)
        padding-top: 100px
        padding-bottom: 100px
    +max-screen($breakpoint-lg)
        padding-top: 92px
        padding-bottom: 92px
    +max-screen($breakpoint-md)
        padding-top: 80px
        padding-bottom: 80px
    &__content 
        max-width: 1100px 
        +max-screen($breakpoint-lg)
            max-width: 75%
        +max-screen($breakpoint-md)
            max-width: 100%
    &__title 
        margin-bottom: 80px
        +max-screen(1200px)
            margin-bottom: 56px
        +max-screen($breakpoint-lg)
            margin-bottom: 48px
        +max-screen($breakpoint-md)
            margin-bottom: 40px
    &__text 
        font-size: 24px
        line-height: 1.6
        +max-screen(1200px)
            font-size: 22px
        +max-screen($breakpoint-lg)
            font-size: 20px